body {
	background-color:#c4e1ec;
	width:900px;
	margin:auto;
	font-family:century gothic, arial, sans-serif;
	}
.colors {
	line-height:2em;
	list-style-type:none;
	font-size:20px;
	}
figure {
	margin:auto;
	text-align:center;
	}
nav {
	position:fixed;
	margin-left:770px;
	margin-top:10px;
	width:200px;
	}
a:link {
	font-size:20px;
	color:black;
	text-decoration:none;
	}
a:visited {
	color:black;
	text-decoration:none;
	}